* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(img/181.jpg);
}


.baslik {
    font-size: 100px;
    text-align: center;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

body {
    font-family: "Nunito", sans-serif;
}

.input {
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 300px;
    background: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;

}

input[type="submit"]{
    height: 50px;
    width: 110px;
    background: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 20px;

}

.button:hover{
    background-color: aliceblue;

}

.display{
    text-align: center;
}